Write a python function to convert the following JSON of the following format...

{% for idx, example in source_examples.items() %}
    source example {{ idx }}: {{ example }}
{% endfor %}

...to the internal target format...

{% for idx, example in target_examples.items() %}
    target example {{ idx }}: {{ example }}
{% endfor %}

Please only provide the python function needed to convert the source format into the target format.
Assume data will look similar to these cases.  Do not add comments, tests, or anything hardcoded.
Write your code so that it 
Finally, limit your response only to the code, no other commentary.
